<p id="notice"><%= notice %></p>

<% if @recompany.logo.url.present? %>
<%=link_to( image_tag(@recompany.logo.url, size:"240x240", class:"img-fluid d-block"), @recompany) %>
<% else %>
<%= image_tag "http://placehold.it/640x480", class:"img-fluid d-block" %>
<% end %>

<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="<%= recompany_path(id: params[:id]) %>">Nuestros Proyectos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= recompany_redescriptions_path(@recompany) %>">Empresa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="<%= contact_recompany_path(@recompany) %>">Contacto</a>
  </li>
</ul>

<br>


<div class="pb-5" >
  <div class="container-fluid p-0"> <%= image_tag 'foto-planos3', style: 'max-height:30%;width:100%;' %> </div>

  <div class="container">
    <div class="row">
      <div class="mx-auto p-4 col-md-6 margint5b10">
        <h2 class="mb-4">Es bueno comunicarnos</h2>
        <p>Porque nos interesa e importa tu opinión, ponemos a tu disposición este espacio para que puedas expresar tus comentarios, reclamos, felicitaciones e inquietudes; estos nos permitirán seguir mejorando nuestro servicio. <br> <br>Queremos resolver todas tus inquietudes, por eso recibiremos tu mensaje y te ayudaremos lo antes posible</p>

      </div>
      <div class="mx-auto p-4 col-md-6 margint5b10">
        <h2 class="mb-4">Envíanos un mensaje:</h2>
        <form>
          <div class="form-group"> <input type="email" class="form-control" id="form31" placeholder="Email"> </div>
          <div class="form-group"> <textarea class="form-control" id="form32" rows="3" placeholder="Ingresa tu mensaje"></textarea> </div> <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>
