
<p id="notice"><%= notice %></p>

<br>
<h1>Inmobiliarias</h1>


<% @recompanies.each do |recompany| %>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6"> 

          <% if recompany.logo.url.present? %>
          <%=link_to( image_tag(recompany.logo.url, size:"240x240", class:"img-fluid d-block"), recompany) %>
          <% else %>
          <%= image_tag "http://placehold.it/640x480", class:"img-fluid d-block" %>
          <% end %>

        </div>
        <div class="px-md-5 p-3 col-md-6 d-flex flex-column justify-content-center">
          <h1><%= recompany.name %></h1>
          <p class="mb-3 lead"><i class="fas text-primary mr-2 fa-globe-americas"></i><%= recompany.address %><br></p>
          <p class="mb-2"><i class="fas text-primary mr-2 fa-phone"></i><%= recompany.telephone %><br></p>
          <div class="row">
            <div class="col-md-12"> <a href="#">
                <i class="fa fa-stop-circle fa-3x mr-3 text-muted d-inline"></i>
              </a> <a href="#">
                <i class="fa fa-circle-o fa-3x mx-3 text-muted d-inline"></i>
              </a> <a href="#">
                <i class="fa fa-stop-circle-o fa-3x mx-3 text-muted d-inline"></i>
              </a> <a href="#">
                <i class="fa fa-circle fa-3x ml-3 text-muted d-inline"></i>
              </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>