<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Project address</th>
      <th>Showroom address</th>
      <th>Showroom telephone</th>
      <th>Opening hours</th>
      <th>Description</th>
      <th>Characteristics</th>
      <th>Barbecue area</th>
      <th>Gym</th>
      <th>Pool</th>
      <th>Multipurpose room</th>
      <th>Laundry room</th>
      <th>Controlled access</th>
      <th>Visitors parking</th>
      <th>Play area</th>
      <th>Club house</th>
      <th>Games room</th>
      <th>Green areas</th>
      <th>Bike parking</th>
      <th>Parking</th>
      <th>Warehouses</th>
      <th>Arch finishes</th>
      <th>Inmediate availability</th>
      <th>Availability date</th>
      <th>Number of buildings</th>
      <th>Number of floors</th>
      <th>Recompany</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.role %></td>
        <td><%= project.project_address %></td>
        <td><%= project.showroom_address %></td>
        <td><%= project.showroom_telephone %></td>
        <td><%= project.opening_hours %></td>
        <td><%= project.description %></td>
        <td><%= project.characteristics %></td>
        <td><%= project.barbecue_area %></td>
        <td><%= project.gym %></td>
        <td><%= project.pool %></td>
        <td><%= project.multipurpose_room %></td>
        <td><%= project.laundry_room %></td>
        <td><%= project.controlled_access %></td>
        <td><%= project.visitors_parking %></td>
        <td><%= project.play_area %></td>
        <td><%= project.club_house %></td>
        <td><%= project.games_room %></td>
        <td><%= project.green_areas %></td>
        <td><%= project.bike_parking %></td>
        <td><%= project.parking %></td>
        <td><%= project.warehouses %></td>
        <td><%= project.arch_finishes %></td>
        <td><%= project.inmediate_availability %></td>
        <td><%= project.availability_date %></td>
        <td><%= project.number_of_buildings %></td>
        <td><%= project.number_of_floors %></td>
        <td><%= project.recompany.name %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
