<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @redescription.image %>
</p>

<p>
  <strong>Ppal title:</strong>
  <%= @redescription.ppal_title %>
</p>

<p>
  <strong>Ppal content:</strong>
  <%= @redescription.ppal_content %>
</p>

<p>
  <strong>Second title:</strong>
  <%= @redescription.second_title %>
</p>

<p>
  <strong>Second content:</strong>
  <%= @redescription.second_content %>
</p>

<p>
  <strong>Terc title:</strong>
  <%= @redescription.terc_title %>
</p>

<p>
  <strong>Terc content:</strong>
  <%= @redescription.terc_content %>
</p>

<p>
  <strong>Recompany:</strong>
  <%= @redescription.recompany %>
</p>

<%= link_to 'Edit', edit_redescription_path(@redescription) %> |
<%= link_to 'Back', redescriptions_path %>
