<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Registro</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Nombre Empresa" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Email" %>
      </div>

      <div class="form-group">
        <%= f.text_field :address, autofocus: false, class: 'form-control', placeholder: "Dirección Empresa" %>
      </div>

      <div class="form-group">
        <%= f.text_field :telephone, autofocus: false, class: 'form-control', placeholder: "Teléfono" %>
      </div>

      <div class="form-group">
        <%= f.text_field :rut, autofocus: false, class: 'form-control', placeholder: "RUT Empresa" %>
      </div>

      <div class="form-group">
        <%= f.text_field :legal_name, autofocus: false, class: 'form-control', placeholder: "Razón Social" %>
      </div>

      <div class="form-group">
        <%= f.text_field :line_of_bussiness, autofocus: false, class: 'form-control', placeholder: "Giro Empresa" %>
      </div>


      <div class="form-group">
        <%= f.text_field :logo, autofocus: false, class: 'form-control', placeholder: "Logo" %>
      </div>

      <div class="form-group">
        <%= f.text_field :admin_name, autofocus: false, class: 'form-control', placeholder: "Encargado Contenido Web" %>
      </div>

      <div class="form-group">
        <%= f.text_field :admin_email, autofocus: false, class: 'form-control', placeholder: "Email Encargado" %>
      </div>

      <div class="form-group">
        <%= f.text_field :admin_telephone, autofocus: false, class: 'form-control', placeholder: "Teléfono Encargado" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Contraseña' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmar Contraseña' %>
      </div>

      <div class="form-group">
        <%= f.submit "Enviar", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
