<h1>New Description</h1>

<%= form_with(url: company_description_path, scope: :description, model: [@company, @description], local: true) do |form| %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>

  <div class="field">
    <%= form.label :ppal_title %>
    <%= form.text_field :ppal_title %>
  </div>

  <div class="field">
    <%= form.label :ppal_content %>
    <%= form.text_area :ppal_content %>
  </div>

  <div class="field">
    <%= form.label :second_title %>
    <%= form.text_field :second_title %>
  </div>

  <div class="field">
    <%= form.label :second_content %>
    <%= form.text_area :second_content %>
  </div>

  <div class="field">
    <%= form.label :terc_title %>
    <%= form.text_field :terc_title %>
  </div>

  <div class="field">
    <%= form.label :terc_content %>
    <%= form.text_area :terc_content %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', company_path(id: params[:company_id]) %>
