<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @project.role %>
</p>

<p>
  <strong>Project address:</strong>
  <%= @project.project_address %>
</p>

<p>
  <strong>Showroom address:</strong>
  <%= @project.showroom_address %>
</p>

<p>
  <strong>Showroom telephone:</strong>
  <%= @project.showroom_telephone %>
</p>

<p>
  <strong>Opening hours:</strong>
  <%= @project.opening_hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Characteristics:</strong>
  <%= @project.characteristics %>
</p>

<p>
  <strong>Barbecue area:</strong>
  <%= @project.barbecue_area %>
</p>

<p>
  <strong>Gym:</strong>
  <%= @project.gym %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @project.pool %>
</p>

<p>
  <strong>Multipurpose room:</strong>
  <%= @project.multipurpose_room %>
</p>

<p>
  <strong>Laundry room:</strong>
  <%= @project.laundry_room %>
</p>

<p>
  <strong>Controlled access:</strong>
  <%= @project.controlled_access %>
</p>

<p>
  <strong>Visitors parking:</strong>
  <%= @project.visitors_parking %>
</p>

<p>
  <strong>Play area:</strong>
  <%= @project.play_area %>
</p>

<p>
  <strong>Club house:</strong>
  <%= @project.club_house %>
</p>

<p>
  <strong>Games room:</strong>
  <%= @project.games_room %>
</p>

<p>
  <strong>Green areas:</strong>
  <%= @project.green_areas %>
</p>

<p>
  <strong>Bike parking:</strong>
  <%= @project.bike_parking %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @project.parking %>
</p>

<p>
  <strong>Warehouses:</strong>
  <%= @project.warehouses %>
</p>

<p>
  <strong>Arch finishes:</strong>
  <%= @project.arch_finishes %>
</p>

<p>
  <strong>Inmediate availability:</strong>
  <%= @project.inmediate_availability %>
</p>

<p>
  <strong>Availability date:</strong>
  <%= @project.availability_date %>
</p>

<p>
  <strong>Number of buildings:</strong>
  <%= @project.number_of_buildings %>
</p>

<p>
  <strong>Number of floors:</strong>
  <%= @project.number_of_floors %>
</p>

<p>
  <strong>Recompany:</strong>
  <%= @project.recompany %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
