<p id="notice"><%= notice %></p>

<% if @company.logo.url.present? %>
<%=link_to( image_tag(@company.logo.url, size:"240x240", class:"img-fluid d-block"), @company) %>
<% else %>
<%= image_tag "http://placehold.it/640x480", class:"img-fluid d-block" %>
<% end %>

<br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Nuestros Proyectos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= company_description_path(@company) %>">Empresa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= contact_company_path(@company) %>">Contacto</a>
  </li>
</ul>

<br>
<h1>Proyectos</h1>



<%= link_to 'New Project', new_project_path %>
